{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}
{% block main_section %}
<div class="form-section">
  <h2>Кабинет пользователя</h2>
  <div class="media text-muted pt-3">
         <img class="mr-2 rounded" style="width: 64px; height: 64px;" src= "{{ user.profile.img.url }}">
         <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
           <strong class="d-block text-gray-dark">@{{ user.username }}</strong>
           <b>Email:</b> {{ user.email }}
         </font></font></p>
       </div>
       <h3 class="mt-4">Изменить данные пользователя</h3>
       <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         {{ update_user|crispy }}
          {{ img_profile|crispy }}
           <button type="submit" class="btn btn-outline-warning">Обновить данные</button>
       </form>
</div>

{% endblock main_section %}

{% block aside_new_section %}
<h3><b>Лучшее книги по программированию</b></h3>
  <img src="https://lh3.googleusercontent.com/KTii_PGS_vI4AkTfQb5Biq41Jf1eQPpNW73P6F4cKS42ghcroHZ-7ueyd_102LDCU7KTH7h1LDOtvBBLFSAm6kgniUhhpk3BSNNnx_NJxrTpGu8jFjAuawuduZrs7WNV6CCk89vp" class="img-thumbnail mb-1">
<p>
  Python – это, пожалуй, один из немногих языков программирования, простых в освоении
  и одновременно мощных. Это очень важно и для начинающих, и для специалистов, но
  что ещё важнее – на нём приятно программировать.
</p>
<a href="https://wombat.org.ua/AByteOfPython/AByteofPythonRussian-2.01.pdf" target="_blank">
  <button class="btn btn-warning">Посмотреть</button>
</a>
{% endblock aside_new_section %}
