{% extends 'blog/main.html' %}
{% block main_section %}
<h3>Страница с контактами</h3>
<hr>
<h4>kostrikin.artyom@bk.ru</h4>
{% endblock main_section %}


{% block aside_new_section %}
<h3><b>Python офицальный сайт</b></h3>
  <img src="https://cdn.pixabay.com/photo/2014/11/21/15/33/snake-540656_960_720.jpg" class="img-thumbnail mb-1">
<p>
  Python - это язык программирования, который позволяет вам быстро работать
  и более эффективно интегрировать системы
</p>
<a href="https://www.python.org/" target="_blank">
  <button class="btn btn-warning">Посмотреть</button>
</a>
{% endblock aside_new_section %}
